# 📦 Ignorer les dépendances Node.js
node_modules/
package-lock.json

# 🚀 Ignorer le dossier dist/ dans la branche main (mais pas sur gh-pages)
dist/

# 🔥 Ignorer les fichiers temporaires et systèmes
.DS_Store
Thumbs.db

# 🛠 Ignorer les fichiers de logs et de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
